/*basic stuff */
body {
  background-color: #121212;
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0%;
}

a :visited {
  color: white;
}

a :link {
  color: white;
}

a {
  color: white;
}
.centered {
  text-align: center;
}

.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.flexCol {
  display: flex;
  flex-direction: column;
}

.highflex {
  flex-grow: 2;
  max-width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lowlex {
  flex-grow: 1;
  max-width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*Overall */
#ClassInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
/*Upper Bar */
#config {
  margin-bottom: 3mm;
  height: 5vh;
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: 1mm solid #ea7b0e;
  width: 100vw;
  display: flex;
}

#searchContainer {
  right: 0mm;
  order: 2;
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
}

#search {
  z-index: 1;
  background-color: #adadad;
  outline: 0;
  border-radius: 7rem;
  height: 1.5rem;
  border: 0px;
  text-align: center;
  margin-top: 1.25vh;
}

::placeholder {
  color: #303030;
}

#roles {
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-end;
  order: 1;
  padding: 0%;
}

/*info Panel*/
#infoPanel {
  left: 0mm;
  height: 0mm;
  top: 5vh;
  width: fit-content;
  height: fit-content;
  z-index: 2;
  position: fixed;
  background-color: rgba(0, 0, 0, 0);
}

#infoPanel:hover {
  width: 100vw;
  height: fit-content;
  bottom: 100mm;
  background-color: rgba(56, 56, 56, 1);
  backdrop-filter: blur(10px);
  border-top: 1.2mm solid #ea7b0e;
  border-bottom: 1.2mm solid #ea7b0e;
  transition: background-color 250ms ease-out;
}
#infoPanel:hover #infoImage {
  display: none;
}

#infoPanel:hover #infoText {
  display: block;
  border: 0mm;
}
#infoText {
  display: none;
  margin-left: 10vw;
  margin-right: 10vw;
}

#infoImage {
  width: 9mm;
  height: 9mm;
  margin: 1.7mm 1mm 5mm 0.2mm;
}

/*Lower Body*/

#BigContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
  gap: 3mm;
  overflow: auto;
  height: 95vh;
  margin: 0%;
  width: 100vw;
  background-image: url(media/LogoVonWish.png);
  background-repeat: no-repeat;
  background-position: center;
}

.ClassContainer {
  width: 100mm;
  background-color: rgba(54, 54, 54, 0.9);
  z-index: 1;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  border-style: solid;
  text-align: center;
  padding-bottom: 4mm;
  height: fit-content;
  width: fit-content;
  min-width: 100mm;
  overflow: hidden;
  backdrop-filter: blur(10px);
}

.ClassTitle {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1 !important;
}

.ClassSpec {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row !important;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 0%;
  margin-bottom: 0%;
  max-height: fit-content;
  border-bottom: 2px solid;
  border-top: 2px solid;
}

.ClassSpec p {
  padding-top: 0%;
  font-size: large;
  margin: 5%;
}

/*modul Parts */
.difRaiting {
  font-size: 7mm;
  margin-top: 2mm;
  margin-bottom: 3mm;
  text-align: center;
}

.talentCode {
  background-color: #1a1a1a;
  color: white;
  height: 5mm;
  border: 1px solid #adadad;
  font-size: xx-small;
}

.talentBtn {
  background-color: rgba(49, 49, 49, 0);
  border: 1px solid #adadad;
  color: rgb(255, 255, 255);
  height: 6mm;
  transition: all;
  transition-duration: 200ms;
  font-weight: bold;
}
.talentBtn:active {
  color: #ea7b0e;
}
.talentBtn:hover {
  border-color: #ea7b0e;
  zoom: 1.05;
}

.ClassHeadline {
  font-size: 10mm;
  margin-top: 0mm;
  margin-bottom: 2mm;
  text-align: center;
}
.ClassSpecTitle {
  font-size: 7mm;
  margin-top: 0mm;
  margin-bottom: 2mm;
  text-align: center;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0)
  );
}

.talentsBox {
  min-height: 50mm;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.talentsBox h2 {
  margin-bottom: 0mm;
}

.talentmargin {
  margin-top: 1mm;
  margin-bottom: 1mm;
  height: 7mm;
}

.buildSrc {
  font-size: 3mm;
  font-style: italic;
}
.ClassName {
  font-size: 7mm;
  margin-top: 1mm;
  margin-bottom: 2mm;
  text-align: center;
}

.bottomBorder {
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.ClassButton {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border: 0mm;
  font-size: large;
}
